body {
	font-family: 'Runic';
	background-size: cover;
	background-attachment: fixed;
	padding-top: 120px;
	padding-bottom: 43px;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}
