body {
	font-family: 'Roboto';
	background-size: cover;
	background-attachment: fixed;
	// padding-top: 120px;
	padding-bottom: 43px;
}

main {
	grid-area: main;

	padding: 30px 15px; 

	display: flex;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}
