@import '/node_modules/modern-normalize/modern-normalize.css';

@font-face {
	font-family: 'Runic';
	src: url('./fonts/Runic-Regular.woff2') format('woff2'),
		url('./fonts/Runic-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('./fonts/Roboto-Regular.woff2') format('woff2'),
		url('./fonts/Roboto-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

:root {
	background-color: #1d1d1d;
}

body {
	margin: 0;
	min-width: 320px;
}

p,
h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}

ul,
ol {
	margin: 0;
	padding-left: 0;
}

button {
	cursor: pointer;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}

.list {
	list-style: none;
}
